@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.eot');
    src: local('☺'), url('./fonts/Lato-Regular.woff') format('woff'), 
    url('./fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Questrial';
    src: url('./fonts/Questrial-Regular.eot');
    src: local('☺'), url('./fonts/Questrial-Regular.woff') format('woff'), 
    url('./fonts/Questrial-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}