.footer {
    height: 100px;
    background-color: #245852;
    .menu {
        max-width: 800px;
        &__
        &__item {
            display: inline;
            margin: auto;
            margin: 2vw;
        }
        &__item a {
            color: #fff;
        }
    }
}