.header {
    display: flex;
    max-width: 1290px;
    margin: 20px auto;
    flex-wrap: wrap;
    &__logo {
        width: 81px;
        margin: auto;
    }
    .menu {
        margin: auto;
        max-width: 600px;
        &__item {
            display: inline;
            margin: auto;
            margin-right: 3vw;
        }
        &__item a {
            text-decoration: none;
            &:hover {
                color: #01996D;
            }
        }
    }
    .link-button-block {
        display: flex;
        margin: auto;
        .sing-up-link {
            margin: auto 20px;
            text-decoration: none;
            color: #01996D;
            &:hover {
                color: #292929;
            }
        }
    }
}
@media screen and (max-width: 920px) {
    .header {
        font-size: 0.9rem;
        &__logo {
            width: 50px;
        }
        /* .link-button-block {
            .sing-up-link {
                width: 20px;
                content: url(./image/signIn.png);
                margin: auto 5% auto auto;
            }    
        } */
    }
}
