.header {
    display: flex;
    max-width: 1290px;
    margin: 20px auto;
    flex-wrap: wrap;
    &__logo {
        width: 81px;
        margin: auto;
    }
    .menu {
        margin: auto;
        max-width: 600px;
        &__item {
            display: inline;
            margin: auto;
            margin-right: 3vw;
        }
        &__item a {
            text-decoration: none;
            &:hover {
                color: #01996D;
            }
        }
    }
    .link-button-block {
        display: flex;
        margin: auto;
        .sing-up-link {
            margin: auto 20px;
            text-decoration: none;
            color: #01996D;
            &:hover {
                color: #292929;
            }
        }
    }
}
@media screen and (max-width: 920px) {
    .header {
        font-size: 0.9rem;
        .link-button-block {
            .sing-up-link {
                content: url("./image/signIn.png");
                &:hover {
                    border-radius: 5px;
                    background-color: #01996D;
                }
            }
            .button-trial {
                display: none;
            }
            .button-trial-mobile {
                content: url("./image/startTrial.png");
                &:hover {
                    border-radius: 5px;
                    background-color: #01996D;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .header {
        .link-button-block {
            display: none;
        }
    }
}
