.headline {
    &__block {
        width: 100%;
        height: 40vw;
        background:url(./image/women.jpg) no-repeat;
        background-size: 100%;
    }
    &__text {
        width: 440px;
        height: 384px;
    }
    &__heading {
        font-size: 3em;
    }
}