.headline {
    height: 40vw;
    background: url("./image/women.jpg") no-repeat;
    background-size: 100%;
    display: flex;
    &__block {
        margin: auto auto auto 10%;
        display: flex;
        flex-wrap: wrap;
        width: 420px;
    }
    &__heading {
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 3em;
        color: #01996D;
    }
    &__description {
        color: #484848;
        line-height: 1.5em;
    }
    &__button {
        margin-top: 15%;
    }
}

@media screen and (max-width: 920px) {
    .headline {
        font-size: 0.8em;
        background-size: 130%;
        &__block {
            width: 300px;
        }
    }
}  
@media screen and (max-width: 600px) {
    .headline {
        height: 60vw;
        background-size: 170%;
    }
}
@media screen and (max-width: 420px) {
    .headline {
        height: 60vw;
        background-size: 170%;
        background-image: none;
    }
}