.productDescriptionModule {
    &__wrapper {
        display: flex;
        margin: 5vw auto;
        justify-content: space-between;
    }
    &__photoInfo {
        display: flex;
        background: rgba(1, 153, 109, 0.2);
        width: 750px;
        border-radius: 20px;
        margin: auto;
    }
    &__photo {
        width: 100%;
    }
    &__info {
        width: 400px;
        margin: 5vw auto;
        line-height: 2;
    }
    &__text {
        margin: auto auto auto 5%;
        width: 500px;
    }
    .descriptionModule {
        &__mark {
            font-size: 1.3em;
            color: #424242;
        }
        &__headline {
            font-size: 2.5em;
            color: #01996D;
            font-family: 'Questrial';
            font-weight: bolder;
        }
        &__desc {
            line-height: 2;
            
        }
    }
}

@media screen and (max-width: 1200px) {
    .productDescriptionModule {
        font-size: 0.8em;
        &__info {
            margin: 5vw auto auto -10vw;
            line-height: 2;
        }
    }
} 

@media screen and (max-width: 920px) {
    .productDescriptionModule {
        background: rgba(1, 153, 109, 0.2);
        font-size: 0.6em;
        &__info {
            display: none;
        }
        &__photoInfo {
            width: 350px;
            background: rgba(71, 121, 107, 0);
        }
        .descriptionModule {
            &__headline {
                font-size: 2em;
            }
        }
    }
}