.text {
    &__wrapper {
        color: #424242;
        flex-wrap: wrap;
        display: flex;
        width: 80%;
        margin: 5% auto;
    }
    &__note {
        font-size: 1.2em;
    }
    &__rubric {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        font: bold 2.5em 'Questrial';
        width: 35vw;
        color: #01996D;
    }
    &__desc {
        margin-top: 1%;
        width: 35vw;
        line-height: 1.5em;
    }
}
@media screen and (max-width: 920px) {
    .text {
        font-size:  0.8em;
    }
}
@media screen and (max-width: 600px) {
    .text {
        &__heading, &__desc {
            width: 90vw;
        }
    }
}
@media screen and (max-width: 420px) {
    .text {
        background-color: #61a89481;
        &__note {
            margin-top: 3%;
        }
        &__wrapper {
            margin: 20% auto;
            height: 70vw;
            font-size:  0.7em;
        }
        &__heading, &__desc {
            width: 90vw;
        }
    }
}