.text {
    &__wrapper {
        color: #424242;
        flex-wrap: wrap;
        display: flex;
        width: 80%;
        margin: 5% auto;
    }
    &__note {
        font-size: 1.2em;
    }
    &__rubric {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        font: bold 2.5em 'Questrial';
        width: 560px;
        color: #01996D;
    }
    &__desc {
        margin-top: 1%;
        width: 35vw;
        line-height: 1.5em;
    }
}
@media screen and (max-width: 1250px) {
    .text {
        font-size: 0.8em;
        &__wrapper {
            
        }
    }
}