<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/modern-css-reset/dist/reset.min.css")
        title Alivio
    body
        include ./blocks/button/button.pug
        include ./blocks/information/information.pug
        .wrapper
            header.header.wrapper__header
                a(class='header__logo' href="#")
                    img(src="./image/logo.png" alt="logo-alivio" class="logo-alivio")
                .menu
                    ul.menu__list
                        li.menu__item
                            a(href="#") Why Alivio
                        li.menu__item
                            a(href="#") Solutions
                        li.menu__item
                            a(href="#") Community
                        li.menu__item
                            a(href="#") Pricing
                .link-button-block
                    .menuToggle
                    a(class="sing-up-link" href="https://github.com/potatbut" target='_blank' title="Sign Up (Actually my github :))") Sign in
                    +button('https://github.com/potatbut', 'button-trial', 'Start Trial', 'Start Trial (Actually my github :))')
                    a(class="button-trial-mobile" href="https://github.com/potatbut" target='_blank' title="Sign In (Actually my github :))")

            section.headline
                .headline__block
                    .headline__text
                        h1.headline__heading Be aware, Manage well.
                        p.headline__description Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
                    +button('https://github.com/potatbut', 'headline__button', 'Find Your Way', 'Find Your Way (Actually my github :))')
            
            section.text
                .text__wrapper
                    .text__note How it works
                    .text__rubric
                        .text__heading Understand & Release the stress in 3 steps
                        .text__desc Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.
            
            section.information
                .information__wrapper
                    +information('personalize','01', 'Personalize', 
                                'Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!', "./image/pc.jpg", 'pc image') 
                    +information('writeUnderstand', '02', 'Write & Understand',
                                'Write, draw, reflect, understand. Alivio will guide you through the prompts and will help you manage your stress!', "./image/books.jpg", 'books image')
                    +information('alivio', '03', 'Alivio!',
                                'Now you are aware, and have a way to manage and overcome your own stress. What are you waiting for? Alivio today!', "./image/women2.jpg", 'women image')
            
            section.videoInformation
                .videoInformation__wrapper
                    .videoInformation__text
                        .videoInformation__headline Let's hear about Kevin's success story
                        .videoInformation__desc See how well Alivio works in a real customer’s life.
                        +button('https://github.com/potatbut', 'videoInformation__button', 'Let’s get started', 'Let’s get started (Actually my github :))')
                    iframe(class="videoInformation__video"  src="https://www.youtube.com/embed/WcYG-5b7448" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                            


            footer
