@import './style/fontFace.scss';
@import './style/css-reset.scss';
@import './style/header.scss';
@import './style/headline.scss';
@import './blocks/button/button.scss';
@import './style/section-text.scss';
@import './blocks/information/information.scss';
@import './style/videoInformation.scss';
@import './style/productDescriptionModule.scss';
@import './style/footer.scss';

* {
    color: #292929;
}
body {
    font-size: 20px;
    font-family: 'Lato';
}