<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Alivio
    body
        wrapper
            header
                logo
                    img(src="./image/logo.png", alt="")
                .menu
                    ul.menu__list
                        li.menu__item
                            a(href="#") Why Alivio
                        li.menu__item
                            a(href="#") Solutions
                        li.menu__item
                            a(href="#") Community
                        li.menu__item
                            a(href="#") Pricing
                form(action="#")
                    button.button-trial Start Trial

            section
            section
            section
            section
            footer
